[submodule "vimfiles/bundle/bufexplorer"]
	path = vimfiles/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vimfiles/bundle/Colour-Sampler-Pack"]
	path = vimfiles/bundle/Colour-Sampler-Pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vimfiles/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vimfiles/bundle/sessionman.vim"]
	path = vimfiles/bundle/sessionman.vim
	url = https://github.com/vim-scripts/sessionman.vim
[submodule "vimfiles/bundle/tlib_vim"]
	path = vimfiles/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "vimfiles/bundle/vim-addon-mw-utils"]
	path = vimfiles/bundle/vim-addon-mw-utils
	url = https://github.com/vim-scripts/vim-addon-mw-utils
[submodule "vimfiles/bundle/vim-flake8"]
	path = vimfiles/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "vimfiles/bundle/vim-snippets"]
	path = vimfiles/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vimfiles/bundle/tabular"]
	path = vimfiles/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vimfiles/bundle/vim-snipmate"]
	path = vimfiles/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vimfiles/bundle/vim-ps1"]
	path = vimfiles/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1
[submodule "vimfiles/bundle/vim-actionscript"]
	path = vimfiles/bundle/vim-actionscript
	url = https://github.com/jeroenbourgois/vim-actionscript
[submodule "vimfiles/bundle/modelica"]
	path = vimfiles/bundle/modelica
	url = https://github.com/vim-scripts/modelica
[submodule "vimfiles/bundle/jedi-vim"]
	path = vimfiles/bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
